<section id="portfolio" class="team-area pt-80 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-title text-center pb-30">
          <label class="title">Portfolio</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5">
        <div
          id="sticky-element-portfolio"
          class="team-style-eleven text-center mt-30 wow fadeIn pointer"
          data-wow-duration="1s"
          data-wow-delay="0s"
        >
          <div class="team-image">
            <img
              src="assets/images/portfolio/me.webp"
              alt="Team"
              loading="lazy"
            />
          </div>
          <div class="team-content">
            <div class="team-social">
              <ul class="social">
                <li>
                  <a
                    href="https://www.linkedin.com/in/braulio-rodriguez-41394b89/"
                    target="_blank"
                    rel="external"
                    title="Linkedin"
                    ><i class="lni lni-linkedin-original"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="mailto:brauliorg12@gmail.com"
                    target="_blank"
                    title="Gmail"
                    ><i class="lni lni-envelope"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://wa.me/+542352521450"
                    target="_blank"
                    title="Whatsapp"
                    ><i class="lni lni-whatsapp"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://github.com/brauliorg12"
                    target="_blank"
                    rel="external"
                    title="Github"
                    ><i class="lni lni-github-original"></i
                  ></a>
                </li>
                <!-- <li>
                  <a
                    href="https://www.facebook.com/brauliorg12"
                    target="_blank"
                    title="Facebook"
                    ><i class="lni lni-facebook-filled"></i
                  ></a>
                </li> -->
                <li>
                  <a
                    href="https://www.instagram.com/brauliorg12"
                    target="_blank"
                    rel="external"
                    title="Instagram"
                    ><i class="lni lni-instagram"></i
                  ></a>
                </li>
                <!-- <li>
                  <a
                    href="https://twitter.com/Brauliorg12"
                    target="_blank"
                    title="Twitter"
                    ><i class="lni lni-twitter-original"></i
                  ></a>
                </li> -->
              </ul>
            </div>
            <span class="team-name"><p>Braulio Rodriguez</p></span>
            <br />
            <span class="sub-title">Desarrollador SSR</span>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-7">
        <div class="section-title text-center pb-30">
          <p class="text">
            Soy un desarrollador autodidácta, desde muy jóven me apasionó la
            tecnología, empecé con el hardware y a especializarme en redes,
            luego descubrí el mundo del software donde en él veo el futuro.
          </p>
        </div>

        <div data-aos="fade-up" data-aos-delay="100">
          <label class="title_skills"><b>Habilidades destacadas:</b></label>

          <div class="my-3">
            <div class="skill">
              <p class="title_skill text-bold">
                <i class="lni lni-typescript text-primary"></i> Typescript
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 92%"
                  aria-valuenow="92"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-label="Typescript"
                >
                  <span>92%</span>
                </div>
              </div>
            </div>
            <div class="skill">
              <p class="title_skill text-bold">
                <i class="lni lni-angular text-danger"></i> Angular
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 95%"
                  aria-valuenow="95"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-label="Angular"
                >
                  <span>95%</span>
                </div>
              </div>
            </div>
            <div class="skill">
              <p class="title_skill text-bold">
                <i class="lni lni-grid-alt text-primary"></i> Ionic
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 85%"
                  aria-valuenow="85"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-label="Ionic"
                >
                  <span>85%</span>
                </div>
              </div>
            </div>
            <div class="skill">
              <p class="title_skill text-bold">
                <i class="lni lni-nodejs text-success"></i> Node.js
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 88%"
                  aria-valuenow="88"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-label="Node.js"
                >
                  <span>88%</span>
                </div>
              </div>
            </div>

            <div class="skill">
              <p class="title_skill text-bold">
                <i class="lni lni-mongodb text-success"></i> MongoDB
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 85%"
                  aria-valuenow="85"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-label="MongoDB"
                >
                  <span>85%</span>
                </div>
              </div>
            </div>

            <div class="skill">
              <p class="title_skill text-bold">
                <i class="lni lni-html5 text-warning"></i> HTML /CSS
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 96%"
                  aria-valuenow="96"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-label="HTML /CSS"
                >
                  <span>96%</span>
                </div>
              </div>
            </div>

            <div class="skill">
              <p class="title_skill text-bold">
                <i class="lni lni-docker text-info"></i> Docker
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 60%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-label="Docker"
                >
                  <span>60%</span>
                </div>
              </div>
            </div>

            <div class="skill">
              <p class="title_skill text-bold">
                <i class="lni lni-github-original text-dark"></i> Git
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 78%"
                  aria-valuenow="78"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-label="Git"
                >
                  <span>78%</span>
                </div>
              </div>
            </div>

            <div class="skill">
              <p class="title_skill text-bold">
                <i class="lni lni-network"></i> Metodologías Ágiles / Scrum
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 75%"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-label="Metodologías Ágiles / Scrum"
                >
                  <span>75%</span>
                </div>
              </div>
            </div>
          </div>

          <label class="title_skills mt-4"
            ><b
              >Algúnas habilidades con conocimientos básicos y medios:</b
            ></label
          >
          <div class="mt-4">
            <span class="badge text-bg-info">NGINX</span>&nbsp;
            <span class="badge text-bg-success">PHP</span>&nbsp;
            <span class="badge text-bg-danger">MySQL</span>&nbsp;
            <span class="badge text-bg-dark">CI/CD</span>&nbsp;
            <span class="badge text-bg-warning">Flutter</span>&nbsp;
            <span class="badge text-bg-light">Artisteer</span>&nbsp;
            <span class="badge text-bg-primary">Jira</span>&nbsp;
            <span class="badge text-bg-secondary">React</span>&nbsp;
            <span class="badge text-bg-primary">Wrodpress</span>&nbsp;
            <span class="badge text-bg-secondary">Joomla</span>&nbsp;
            <span class="badge text-bg-success">Drupal</span>&nbsp;
            <span class="badge text-bg-primary">phpDesigner</span>&nbsp;
            <span class="badge text-bg-dark">DreamWeaver</span>&nbsp;
          </div>
          <br />

          <ul class="slider-btn rounded-buttons mt-4">
            <li>
              <a
                class="main-btn rounded-two"
                href="https://app.cubanova.com/assets/pdf/CV_braulio_rodriguez.pdf"
                title="Descargar Curriculum Vitae (formato PDF)"
                >Descargar C.V.</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
