<section id="works" class="portfolio-area portfolio-four pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-title text-center pb-10">
          <label class="title">Trabajos Realizados</label>
          <p class="text">Explora Algunos de Nuestros Trabajos Recientes.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div
          id="sticky-element-filter"
          class="portfolio-menu text-center mt-50 mb-40"
        >
          <ul>
            <li data-filter="*" class="active">ÚLTIMOS</li>
            <li data-filter=".branding-4">TERMINADOS</li>
            <li data-filter=".marketing-4">PRÓXIMAMENTE</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-9">
        <div class="row no-gutters grid mt-50">
          <!-- CODI -->
          <div class="col-lg-4 col-sm-6 branding-4 planning-4">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img
                  src="assets/images/portfolio/codi_small.webp"
                  alt="CoDi - Comunidad Digital"
                  width="auto"
                  height="auto"
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <h6 class="text-center align-items-center text-light">
                      CoDi - Comunidad Digital
                    </h6>

                    <br />

                    <div class="d-flex">
                      <div class="portfolio-icon">
                        <a
                          class="image-popup"
                          href="assets/images/portfolio/codi_full.webp"
                          ><i class="lni lni-zoom-in"></i
                        ></a>
                        <p class="text-center text-light"><b>Zoom</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="CoDi - Comunidad Digital"
                          class="shape"
                        />
                      </div>
                      <div class="portfolio-icon">
                        <a
                          href="https://codiapp.com.ar"
                          target="_blank"
                          rel="external"
                          ><i class="lni lni-link"></i
                        ></a>
                        <p class="text-center text-light"><b>Visitar</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="CoDi - Comunidad Digital"
                          class="shape"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- GDSA -->
          <div class="col-lg-4 col-sm-6 branding-4 planning-4">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img
                  src="assets/images/portfolio/gdsa.webp"
                  alt="GDSA - Indumentaria"
                  width="auto"
                  height="auto"
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <h6 class="text-center align-items-center text-light">
                      GDSA - Indumentaria
                    </h6>

                    <br />

                    <div class="d-flex">
                      <div class="portfolio-icon">
                        <a
                          class="image-popup"
                          href="assets/images/portfolio/gdsa.webp"
                          ><i class="lni lni-zoom-in"></i
                        ></a>
                        <p class="text-center text-light"><b>Zoom</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="GDSA - Indumentaria"
                          class="shape"
                        />
                      </div>
                      <div class="portfolio-icon">
                        <a
                          href="https://gdsaindumentaria.com.ar"
                          target="_blank"
                          rel="external"
                          ><i class="lni lni-link"></i
                        ></a>
                        <p class="text-center text-light"><b>Visitar</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="GDSA - Indumentaria"
                          class="shape"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- PREX -->
          <div class="col-lg-4 col-sm-6 branding-4 planning-4">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img
                  src="assets/images/portfolio/prex_small.webp"
                  alt="Prex - Movies"
                  width="auto"
                  height="auto"
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <h6 class="text-center align-items-center text-light">
                      Prex - Movies
                    </h6>

                    <br />

                    <div class="d-flex">
                      <div class="portfolio-icon">
                        <a
                          class="image-popup"
                          href="assets/images/portfolio/prex_full.webp"
                          ><i class="lni lni-zoom-in"></i
                        ></a>
                        <p class="text-center text-light"><b>Zoom</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="Prex - Movies"
                          class="shape"
                        />
                      </div>
                      <div class="portfolio-icon">
                        <a
                          href="http://prex.cubanova.com"
                          target="_blank"
                          rel="external"
                          ><i class="lni lni-link"></i
                        ></a>
                        <p class="text-center text-light"><b>Visitar</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="Prex - Movies"
                          class="shape"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- OFERTACERCA -->
          <div class="col-lg-4 col-sm-6 marketing-4 research-4">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img
                  src="assets/images/portfolio/ofertacerca_small.webp"
                  alt="Ofertacerca"
                  width="auto"
                  height="auto"
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <h6 class="text-center align-items-center text-light">
                      Ofertacerca
                    </h6>

                    <br />

                    <div class="d-flex">
                      <div class="portfolio-icon">
                        <a
                          class="image-popup"
                          href="assets/images/portfolio/ofertacerca_full.webp"
                          ><i class="lni lni-zoom-in"></i
                        ></a>
                        <p class="text-center text-light"><b>Zoom</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="Ofertacerca"
                          class="shape"
                        />
                      </div>
                      <div class="portfolio-icon">
                        <a
                          href="https://ofertacerca.com"
                          target="_blank"
                          rel="external"
                          ><i class="lni lni-link"></i
                        ></a>
                        <p class="text-center text-light"><b>Visitar</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="Ofertacerca"
                          class="shape"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- CIPAL -->
          <div class="col-lg-4 col-sm-6 branding-4 planning-4">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img
                  src="assets/images/portfolio/cipal_small.webp"
                  alt="CIPAL"
                  width="auto"
                  height="auto"
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <h6 class="text-center align-items-center text-light">
                      CIPAL
                    </h6>

                    <br />

                    <div class="d-flex">
                      <div class="portfolio-icon">
                        <a
                          class="image-popup"
                          href="assets/images/portfolio/cipal_full.webp"
                          ><i class="lni lni-zoom-in"></i
                        ></a>
                        <p class="text-center text-light"><b>Zoom</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="CIPAL"
                          class="shape"
                        />
                      </div>
                      <div class="portfolio-icon">
                        <a
                          href="https://cipal.com.ar/"
                          target="_blank"
                          rel="external"
                          ><i class="lni lni-link"></i
                        ></a>
                        <p class="text-center text-light"><b>Visitar</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="CIPAL"
                          class="shape"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- RIFA TECNICOCERCA -->
          <div class="col-lg-4 col-sm-6 branding-4 planning-4">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img
                  src="assets/images/portfolio/rifa_tecnicocerca_small.webp"
                  alt="RIFA - Tecnicocerca"
                  width="auto"
                  height="auto"
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <h6 class="text-center align-items-center text-light">
                      RIFA - Tecnicocerca
                    </h6>

                    <br />

                    <div class="d-flex">
                      <div class="portfolio-icon">
                        <a
                          class="image-popup"
                          href="assets/images/portfolio/rifa_tecnicocerca_full.webp"
                          ><i class="lni lni-zoom-in"></i
                        ></a>
                        <p class="text-center text-light"><b>Zoom</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="RIFA - Tecnicocerca"
                          class="shape"
                        />
                      </div>
                      <div class="portfolio-icon">
                        <a
                          href="http://tecnicocercarifa.cubanova.com/"
                          target="_blank"
                          rel="external"
                          ><i class="lni lni-link"></i
                        ></a>
                        <p class="text-center text-light"><b>Visitar</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="RIFA - Tecnicocerca"
                          class="shape"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- TECNICOCERCA -->
          <div class="col-lg-4 col-sm-6 branding-4 planning-4">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img
                  src="assets/images/portfolio/1.webp"
                  alt="Tecnicocerca"
                  width="auto"
                  height="auto"
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <h6 class="text-center align-items-center text-light">
                      Tecnicocerca
                    </h6>

                    <br />

                    <div class="d-flex">
                      <div class="portfolio-icon">
                        <a
                          class="image-popup"
                          href="assets/images/portfolio/1.webp"
                          ><i class="lni lni-zoom-in"></i
                        ></a>
                        <p class="text-center text-light"><b>Zoom</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="Tecnicocerca"
                          class="shape"
                        />
                      </div>
                      <div class="portfolio-icon">
                        <a
                          href="http://tecnicocerca.cubanova.com"
                          target="_blank"
                          rel="external"
                          ><i class="lni lni-link"></i
                        ></a>
                        <p class="text-center text-light"><b>Visitar</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="Tecnicocerca"
                          class="shape"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ALL EXTRUDED -->
          <div class="col-lg-4 col-sm-6 branding-4 planning-4">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img
                  src="assets/images/portfolio/ae_small.webp"
                  alt="AllPet"
                  width="auto"
                  height="auto"
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <h6 class="text-center align-items-center text-light">
                      All Extruded
                    </h6>

                    <br />

                    <div class="d-flex">
                      <div class="portfolio-icon">
                        <a
                          class="image-popup"
                          href="assets/images/portfolio/ae_full.webp"
                          ><i class="lni lni-zoom-in"></i
                        ></a>
                        <p class="text-center text-light"><b>Zoom</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="All Extruded"
                          class="shape"
                        />
                      </div>
                      <div class="portfolio-icon">
                        <a
                          href="https://allextruded.com/"
                          target="_blank"
                          rel="external"
                          ><i class="lni lni-link"></i
                        ></a>
                        <p class="text-center text-light"><b>Visitar</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="All Extruded"
                          class="shape"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- AQUAFEED -->
          <div class="col-lg-4 col-sm-6 branding-4 planning-4">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img
                  src="assets/images/portfolio/aquafeed_small.webp"
                  alt="AquaFeed"
                  width="auto"
                  height="auto"
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <h6 class="text-center align-items-center text-light">
                      AquaFeed
                    </h6>

                    <br />

                    <div class="d-flex">
                      <div class="portfolio-icon">
                        <a
                          class="image-popup"
                          href="assets/images/portfolio/aquafeed_small.webp"
                          ><i class="lni lni-zoom-in"></i
                        ></a>
                        <p class="text-center text-light"><b>Zoom</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="AquaFeed"
                          class="shape"
                        />
                      </div>
                      <div class="portfolio-icon">
                        <a
                          href="https://aquafeed.co/"
                          target="_blank"
                          rel="external"
                          ><i class="lni lni-link"></i
                        ></a>
                        <p class="text-center text-light"><b>Visitar</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="AquaFeed"
                          class="shape"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- MILLING AND GRAIN -->
          <div class="col-lg-4 col-sm-6 branding-4 planning-4">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img
                  src="assets/images/portfolio/mag_full.webp"
                  alt="Milling and Grain"
                  width="auto"
                  height="auto"
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <h6 class="text-center align-items-center text-light">
                      Milling and Grain
                    </h6>

                    <br />

                    <div class="d-flex">
                      <div class="portfolio-icon">
                        <a
                          class="image-popup"
                          href="assets/images/portfolio/mag_full.webp"
                          ><i class="lni lni-zoom-in"></i
                        ></a>
                        <p class="text-center text-light"><b>Zoom</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="Milling and Grain"
                          class="shape"
                        />
                      </div>
                      <div class="portfolio-icon">
                        <a
                          href="https://millingandgrain.co/"
                          target="_blank"
                          rel="external"
                          ><i class="lni lni-link"></i
                        ></a>
                        <p class="text-center text-light"><b>Visitar</b></p>
                        <img
                          src="assets/images/portfolio/shape.svg"
                          alt="Milling and Grain"
                          class="shape"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
