<div id="header-top"></div>

<section id="home" class="header-area pt-100">
  <!--====== SHAPE PART START ======-->
  <div class="shape header-shape-one">
    <img
      src="assets/images/banner/shape/shape-1.webp"
      alt="shape 1"
      width="301"
      height="276"
    />
  </div>
  <!-- header shape one -->

  <div class="shape header-shape-tow animation-one">
    <img
      src="assets/images/banner/shape/shape-2.webp"
      alt="shape 2"
      width="105"
      height="105"
    />
  </div>
  <!-- header shape tow -->

  <div class="shape header-shape-three animation-one">
    <img
      src="assets/images/banner/shape/shape-3.webp"
      alt="shape 3"
      width="176"
      height="176"
    />
  </div>
  <!-- header shape three -->

  <div *ngIf="arrowDown" class="shape header-shape-fore">
    <app-lottie-player
      [srcData]="'assets/animations/arrow-down.json'"
      [looping]="true"
      class="d-block"
      style="width: 250px"
    ></app-lottie-player>
  </div>
  <!-- header shape three -->

  <!--====== SHAPE PART END ======-->

  <div class="header-banner d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-9 col-sm-10">
          <div class="banner-content">
            <h4
              class="sub-title"
              data-aos="fade-zoom-in"
              data-aos-delay="300"
              data-aos-easing="ease-in-back"
              data-aos-offset="0"
              data-aos-duration="1000"
            >
              ¡Bienvenido!
            </h4>

            <h1
              class="banner-title mt-10"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="2000"
              data-aos-offset="0"
            >
              <span>Innovación y Protección</span> en Ropa de Trabajo y Calzado
              de Seguridad
            </h1>
            <p class="sub-home">Ropa de trabajo - Calzado de seguridad.</p>
            <p
              class="banner-contact mt-25"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-easing="ease-in-sine"
              data-aos-delay="2200"
            >
              GDSA - Indumentaria
            </p>
          </div>
          <!-- banner content -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
    <!-- <div
      class="banner-image bg_cover"
      style="background-image: url(assets/images/banner/00013-3257853515.png)"
    ></div> -->
    <!-- <div class="banner-image bg_cover">
      <app-lottie-player
        [srcData]="'assets/animations/remera.json'"
      ></app-lottie-player>
    </div>-->
  </div>
  <!-- header banner -->
</section>
