.img_logo {
  height: 100px;
  transition: 500ms;
}

.sticky .img_logo {
  height: 60px;
  transition: 500ms;
}

@media (max-width: 990px) {
  .carousel-item .slider-image-box {
    position: absolute;
    top: 60vh;
    right: 5%;
    width: 50%;
    height: 100%;
    z-index: 9;
  }
}

@media (max-width: 800px) {
  .img_logo {
    height: 50px;
  }

  .sticky .img_logo {
    height: 50px;
    transition: 500ms;
  }

  .team-style-eleven .team-image img {
    height: 300px;
    object-fit: contain;
  }
}

.footer-logo img {
  height: 150px;
}

.pointer {
  cursor: pointer;
}

.carousel-item {
  height: 100vh !important;
}
