<!--====== NAVBAR TWO PART START ======-->

<app-nav-bar></app-nav-bar>

<!--====== NAVBAR TWO PART ENDS ======-->

<div
  data-bs-spy="scroll"
  data-bs-target="#navbar-id"
  data-bs-smooth-scroll="true"
  class="scrollspy-example"
  tabindex="0"
  id="top"
>
  <!--====== SLIDER PART START ======-->
  <app-slider-header
    [sectionId]="'home'"
    [currentSection]="currentSection"
  ></app-slider-header>

  <!--====== SLIDER PART ENDS ======-->

  <!--====== FEATRES TWO PART START ======-->

  <app-features
    [sectionId]="'services'"
    [currentSection]="currentSection"
  ></app-features>

  <!--====== FEATRES TWO PART ENDS ======-->

  <!--====== WORK PART ENDS ======-->

  <app-works
    [sectionId]="'works'"
    [currentSection]="currentSection"
  ></app-works>

  <!--====== WORK PART ENDS ======-->

  <!--====== PORTFOLIO PART START ======-->
  <app-portfolio
    [sectionId]="'portfolio'"
    [currentSection]="currentSection"
  ></app-portfolio>

  <!--====== PORTFOLIO PART ENDS ======-->

  <!--====== CONTACT PART START ======-->

  <app-contact
    [sectionId]="'contact'"
    [currentSection]="currentSection"
  ></app-contact>

  <!--====== CONTACT PART ENDS ======-->

  <!--====== FOOTER PART START ======-->

  <app-footer
    [sectionId]="'footer'"
    [currentSection]="currentSection"
  ></app-footer>

  <!--====== FOOTER PART ENDS ======-->
</div>
