<section id="home" class="slider_area">
  <div
    id="carouselThree"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-touch="true"
  >
    <ol class="carousel-indicators">
      <li
        data-bs-target="#carouselThree"
        data-bs-slide-to="0"
        class="active"
      ></li>
      <li data-bs-target="#carouselThree" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselThree" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="slider-content">
                <h1 class="title">Creatividad</h1>
                <p class="text">
                  "La creatividad es la inteligencia divirtiendose".
                </p>
                <p class="text">-Albert Einstein.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-image-box d-lg-flex align-items-end">
          <div class="slider-image">
            <img
              src="assets/images/slider/1.webp"
              alt="Creatividad"
              width="auto"
              height="auto"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="slider-content">
                <h1 class="title">Emprendimiento</h1>
                <p class="text">
                  "No tienes que ser un genio, un visionario o graduado para
                  tener éxito. Todo lo que necesitas es perspectiva y un sueño".
                </p>
                <p class="text">-Michael Dell</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-image-box d-lg-flex align-items-end">
          <div class="slider-image">
            <img
              src="assets/images/slider/2.webp"
              alt="Emprendimiento"
              width="auto"
              height="auto"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="slider-content">
                <h1 class="title">Productividad</h1>
                <p class="text">
                  "Nada es especialmente difícil si lo divides en pequeños
                  trabajos".
                </p>
                <p class="text">-Henry Ford</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-image-box d-lg-flex align-items-end">
          <div class="slider-image">
            <img
              src="assets/images/slider/3.webp"
              alt="Productividad"
              width="auto"
              height="auto"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- BOTONES -->
    <a
      class="carousel-control-prev"
      href="#carouselThree"
      role="button"
      data-bs-slide="prev"
      aria-label="Anterior"
    >
      <i class="lni lni-chevron-left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselThree"
      role="button"
      data-bs-slide="next"
      aria-label="Siguiente"
    >
      <i class="lni lni-chevron-right"></i>
    </a>
  </div>
</section>
