<section id="footer" class="footer-area footer-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="footer-logo text-center">
          <div class="mt-30 pointer" (click)="scrollPoint('top')">
            <img
              src="assets/images/logo_cb.webp"
              alt="Logo"
              width="auto"
              height="auto"
              loading="lazy"
            />
          </div>
        </div>
        <br />
        <ul class="social text-center mt-60">
          <li>
            <a
              href="https://www.linkedin.com/in/braulio-rodriguez-41394b89/"
              target="_blank"
              rel="external"
              title="Linkedin"
              ><em class="lni lni-linkedin-original"></em
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/brauliorg12"
              target="_blank"
              rel="external"
              title="Github"
              ><em class="lni lni-github-original"></em
            ></a>
          </li>
          <!-- <li>
          <a
            href="https://www.facebook.com/brauliorg12"
            target="_blank"
            title="Facebook"
            ><em class="lni lni-facebook-filled"></em
          ></a>
        </li> -->
          <li>
            <a
              href="https://www.instagram.com/brauliorg12"
              target="_blank"
              title="Instagram"
              ><em class="lni lni-instagram"></em
            ></a>
          </li>
          <!-- <li>
          <a
            href="https://twitter.com/Brauliorg12"
            target="_blank"
            title="Twitter"
            ><em class="lni lni-twitter-original"></em
          ></a>
        </li> -->
        </ul>
        <div class="copyright text-center mt-35">
          <small class="text-primary"> Framework:&nbsp;{{ version }} </small>

          <br />
          <p class="text pointer">
            2023 ©
            <span (click)="scrollPoint('top')" class="text-primary">
              CubaNova
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
